<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyACNAvdAHxwv6HQtfY3Y_MZie8i2Vozo3Q</string>
	<key>GCM_SENDER_ID</key>
	<string>1026106768807</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bakarot.mombabycare.momBabyCare</string>
	<key>PROJECT_ID</key>
	<string>mombadycare</string>
	<key>STORAGE_BUCKET</key>
	<string>mombadycare.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1026106768807:ios:60ca2277ba5931ce914a82</string>
</dict>
</plist>